<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
{% extends 'admin_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post">
    {% csrf_token %}
      <a href="{% url 'adminnewslist' %}" style="position: fixed; top:80px; left: 280px; color:#fff; background-color: rgba(0,0,0,0.7); padding:3px; border-radius:10px;"><span class="material-symbols-outlined">
arrow_back
</span></a>
    <table width="691" height="250" border="0">
        <tbody>
            <tr>
                <th>TYPE NEWS</th><td><textarea name="news" style="height:150px;width:300px"></textarea></td>
            </tr>
            <tr align="center">
                <td><input type="submit" name="submit" id="submit" value="Submit"></td>
            </tr>
        </tbody>
    </table>
</form>
</body>
<!--</html>-->
{% endblock %}
