<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
	<form method="post" action="">
		<table width="580.2" height="127" border="">
  <tbody>
    <tr>
      <th width="87" scope="row">Purpose&nbsp; &nbsp;</th>
      <td width="32">
        <input type="text" name="textfield" id="textfield"></td>
    </tr>
    <tr>
      <th scope="row">payment per day&nbsp;</th>
      <td>
        <input type="text" name="textfield2" id="textfield2"></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="submit" id="submit" value="Submit"></th>
      </tr>
  </tbody>
</table>

	</form>
</body>
</html>
